<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">

        <!-- Select User Type Activity (LAUNCHER) -->
        <activity
            android:name=".SelectUserTypeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Livreur Activities -->
        <activity
            android:name=".livreur.LivreurMainActivity"
            android:exported="false" />

        <!-- Manager Activities -->
        <activity
            android:name=".manager.ManagerMainActivity"
            android:exported="false" />
        <activity
            android:name=".manager.CreateOrderActivity"
            android:exported="false" />

        <!-- Client Activities -->
        <activity
            android:name=".client.ClientMainActivity"
            android:exported="false" />

        <!-- Shared Activities -->
        <activity
            android:name=".shared.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".shared.MapTrackingActivity"
            android:exported="false" />

    </application>

</manifest>